@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--montserrat-family: 'Montserrat', sans-serif;
	--gabrito-family: 'Gabarito', sans-serif;
	--btn-bg: #0033e7;
	--gray-color: #555555;
	--lightgray-color: #e0e0e0;
	--white-color: #ffffff;
	--black-color: #000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.cards {
	flex-wrap: wrap;
}

img {
	width: 100%;
	object-fit: cover;
	height: 220px;
	border-radius: 20px;
}

.link {
	cursor: pointer;
}

.link--reset {
	text-decoration: none;
}

.list--reset {
	list-style: none;
}

/* HEADER  START*/
#header {
	padding: 20px 0;
	position: relative;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 15px;
}

.logo {
	height: 60px;
}

.header__logo-link {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;

	.header__logo-span {
		color: var(--btn-bg);
		font-weight: 700;
	}
}

.header__nav-list {
	display: flex;
	align-items: center;
	gap: 15px;
}

.header__phone {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header__phone-menu {
	display: none;
	flex-direction: column;
	margin-top: 90px;
	align-items: center;
	justify-content: center;
}

.header__nav-link:hover {
	color: #fdaa48;
	transition: color 0.4s ease-in-out;
}

/* HEADER END */

/* HERO START */
#hero {
	margin: 75px 0;
}

.hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 910px;
}

.hero-title,
.hero-text {
	text-align: center;
	max-width: 800px;
}

.hero-text {
	margin-top: 30px;
	color: var(--black-color);
}

.hero__list {
	margin-top: 12px;
	column-count: 2;
	row-gap: 20px;
	width: 100%;
	max-width: 800px;
	margin-bottom: 60px;
}

.hero__list-item {
	text-transform: uppercase;
	margin-bottom: 10px;
}

.hero__content-btn {
	text-align: center;
}

.btn {
	padding: 20px 30px;
	border: none;
	background-color: var(--btn-bg);
	font-family: var(--gabrito-family);
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 5px;
	font-size: 20px;
}

.btn__transparent {
	background-color: transparent;
	border: 1px solid var(--black-color);
	color: var(--black-color);
}

/* HERO END */

/* WORK START */

#work {
	background-color: var(--lightgray-color);
	padding: 75px 0;
}

.work__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work-text {
	margin-top: 40px;
}

.work__content-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

.work__content-item {
	background-image: url(../img/work.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	height: 220px;
	width: 100%;
}

.work-btn {
	margin-top: 30px;
	padding: 5px 15px;
}
/* WORK END */

/* PRICE START */

#price {
	padding: 75px 0;
}

.price__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 740px;
	padding: 15px 30px;
	border-bottom: 1px solid var(--lightgray-color);
	margin-top: 90px;
}

.price__content-title {
	max-width: 300px;
}

.price__span {
	margin-top: 90px;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 650px;
}

/* FORM START */
#form {
	background-color: var(--btn-bg);
	padding: 75px 0;
}

.form__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-text-color {
	color: var(--white-color) !important;
}

.form-text {
	max-width: 740px;
	text-align: center;
	margin-top: 40px;
}

.form {
	margin-top: 75px;
	display: flex;
	flex-direction: column;
	padding: 40px 50px;
	box-shadow: 0 0 20px rgb(204, 70, 70);
	border-radius: 20px;
	background-color: var(--white-color);
	width: 100%;
	max-width: 480px;
}

.form__label {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form__label:not(:last-child) {
	margin-bottom: 15px;
}

.form__input {
	border: 1px solid lightgray;
	background-color: #eee;
	padding: 10px 20px;
	border-radius: 5px;
}

.form__btn {
	max-width: 200px;
	padding: 10px 20px;
	font-size: 15px;
}

/* FORM END */

/* POSITION START */

#position {
	padding: 75px 0;
	background-image: url(../img/map.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.position__container {
	display: flex;
	flex-direction: column;
	max-width: 890px;
	padding: 25% 15px !important;
}

.position-title,
.position-text {
	text-align: center;
}

.position-text {
	margin-top: 24px;
}

.position__list {
	margin-top: 32px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 20px;
}
.position__item {
	color: var(--btn-bg);
	font-size: 16px;
	margin-right: 10px;
}

.position__item::after {
	margin-left: 10px;
	content: '•';
	color: var(--black-color);
}

/* POSITION END */

/* FOOTER START */
#footer {
	padding-top: 75px;
	padding-bottom: 60px;
	background-color: var(--black-color);
}

.footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__list {
	display: flex;
	align-items: center;
	gap: 15px;
}

.footer-text {
	text-align: center;
	color: var(--gray-color) !important;
	margin: 24px;
	max-width: 550px;
}

@media (max-width: 992px) {
	#header {
		position: relative;
	}

	.work_time {
		display: none;
	}

	.header__phone {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	.header__phone-menu {
		display: flex;
	}

	.work__content-list {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	.service__cards {
		justify-content: center;
	}

	.header__logo-link {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.footer__list {
		flex-direction: column;
	}

	.author__container {
		flex-direction: column;
		align-items: center;
	}

	.form {
		max-width: 360px;
	}

	.work__content-list {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 1fr);
	}

	.work__content-item {
		width: 100%;
	}

	.review__content-list {
		flex-direction: column;
	}
	.question__item-btn {
		width: 35px;
	}

	.header__nav {
		width: 350px;
	}

	.text-1 {
		font-size: 15px;
	}

	.price__content {
		flex-direction: column;
		align-items: center;
	}

	.price__content-title {
		text-align: center;
		max-width: none;
	}
}

@media (max-width: 480px) {
	.question__item-btn {
		width: 55px;
	}

	.phone {
		display: none;
	}

	.form {
		max-width: 210px;
	}

	.footer__list {
		flex-direction: column;
	}
}

@media (max-width: 320px) {
	.question__item-btn {
		width: 95px;
	}

	.form {
		max-width: 180px;
	}

	.author-img {
		max-width: 270px;
	}

	.header__logo-link {
		font-size: 16px;
	}
}
